<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Auto Quiz</title>

    <style>
        h1.first {
            color: #ff2414;
            text-align: center;
            font-style: italic;
        }

        #questions {
            font-style: italic;
            border-radius: 0cm;
            border-style: solid;
        }
    </style>
</head>

<body>
    <h1 class="first">Create telegram quiz</h1>
    <h2>SEND QUESTIONS</h2>
    <form action="/submit" method="post">
        <label for="questions">Questions:</label>
        <input type="text" name="questions" id="questions" required><br><br>

        <label for="topic">Topic:</label>
        <input type="text" name="topic" id="topic" required><br><br>

        <input type="submit" value="send" class="button">
    </form>
    <h3>OMAR ALKASEM, 2025</h3>
    <script type="text/javascript">
      (function(d, t) {
          var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
          v.onload = function() {
            window.voiceflow.chat.load({
              verify: { projectID: '681dee90842b81606b064fe0' },
              url: 'https://general-runtime.voiceflow.com',
              versionID: 'production',
              voice: {
                url: "https://runtime-api.voiceflow.com"
              }
            });
          }
          v.src = "https://cdn.voiceflow.com/widget-next/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
      })(document, 'script');
    </script>
</body>

</html>


